{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/font-awesome.min.css' %}">

    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/flat-blue.css' %}">
    <script type="text/javascript" src="{% static 'lib/js/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/Chart.min.js' %}"></script>
    <style >
        .chart-container {
            position: relative;
            width: 400px;
            height: 400px;
        }
    </style>
</head>

<body class="flat-blue" >
    <div class="app-container" id="myapp">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">Dashboard</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>

                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">msj <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">msj</h4>
                                        <p>msj@email.com</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Logout</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">Exmon V1.0</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="index.html">
                                    <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#" @click="show('status')">
                                <div class="card red summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-bar-chart-o fa-4x"></i>
                                        <div class="content">
                                            <div class="title">状态</div>
                                            <div class="sub-title">status</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#" @click="show('set')">
                                <div class="card yellow summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-cog fa-4x"></i>
                                        <div class="content">
                                            <div class="title">配置</div>
                                            <div class="sub-title">setting</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#" @click="show('time')">
                                <div class="card green summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-clock-o fa-4x"></i>
                                        <div class="content">
                                            <div class="title">时间</div>
                                            <div class="sub-title">time</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#" @click="show('user')">
                                <div class="card blue summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-address-book fa-4x"></i>
                                        <div class="content">
                                            <div class="title">用户</div>
                                            <div class="sub-title">user</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div v-show=isShowSetting>
                        <div class="row" >
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >RULE NUMBER</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置规则index(0-31)" v-model="ip_num">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >SIP1</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (SIP[015:000])" v-model="sip1">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >SIP2</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (SIP[031:016]" v-model="sip2">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >DIP1</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (DIP[015:000])" v-model="dip1">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >DIP2</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (DIP[031:016])" v-model="dip2">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >SPORT</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (SPORT)" v-model="ip_sport">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >DPORT</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (DPORT)" v-model="ip_dport">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >PROTOCOL</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP DATA (bit7-0:Protocol)" v-model="ip_proto">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >MASK SIP1</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP MASK (SIP[015:000]) Mask配置" v-model="mask_sip1">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >MASK SIP2</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP MASK (SIP[031:016])	1: Masked/0:Not Masked" v-model="mask_sip2">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >MASK DIP1</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP MASK (DIP[015:000])" v-model="mask_dip1">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >MASK DIP2</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP MASK (DIP[031:016])" v-model="mask_dip2">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >IP MASK PROTOCOL</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置IP MASK (Protocol(bit2) / Dport (bit1) /Sport (bit0) )" v-model="mask_proto">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >ACTID</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="配置ACTID" v-model="actid">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >ACTION NUMBER</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="Action Num(0/31保留，默认从1开始使用，最大30）" v-model="action_num">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class=" col-xs-3">
                                <div class="form-group">
                                    <label >VLAN TABLE NUMBER</label>
                                    <input type="text" class="form-control" aria-label="..." placeholder="VLAN Table Number（每个Action使用1个转发表）" v-model="vlan_table_num">
                                </div><!-- /form-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <button id="submitsetting" type="button" class="btn btn-default pull-right" @click="submitsetting">sumbit</button>

                    </div>
                    <div class="row" v-show=isShowStatus>
                        <div class="col-md-4 col-sm-6 col-xs-12" >
                            <div class="col-md-4" >
                                <h4>cpu 占用率</h4>
                            </div>
                            <div class="col-md-8 " >
                                <canvas id="myChart" width="100" height="100"></canvas>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" >
                            <div class="col-md-4" >
                                <h4>内存 使用率</h4>
                            </div>
                            <div class="col-md-8 " >
                                <canvas id="myChart1" width="100" height="100"></canvas>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" >
                            <div class="col-md-4" >
                                <h4>速率</h4>
                            </div>
                            <div class="col-md-8 " >
                                <canvas id="myChart2" width="100" height="100"></canvas>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                 © 2017 Copyright. embedway <a href="http://www.embedway.com/" target="_blank" title="恒为科技股份有限公司">恒为科技股份有限公司</a>
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/axios.min.js' %}"></script>

            <!-- Javascript -->
            <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/webchart.js' %}"></script>
</body>

</html>
